<div class="container">
<h1>Restaurants <%= link_to "", new_restaurant_path, style: "text-decoration:none;color:#04ee28;" ,class: "fa fa-plus-square" %></h1>
<div class="lis-group">
  <% @restaurants.each do |restaurant| %>

      <a  class="list-group-item lsi" style="display:inline-block" href="/restaurants/<%= restaurant.id %>">
          <h3><%= restaurant.name %></h3>
          <p><%= restaurant.address %></p>
          <p><%= restaurant.phone_number %></p>
          <p><%= restaurant.category %></p>
      </a>
  <% end %>
</div>
</div>
